h1{
    color: #f07167;
}

a:link{
    color: #fb8500;
    text-decoration: none;
}

a:visited{
    color: #219ebc;
}

/*Cuando nos colocamos sobre el link*/
a:hover{
    color: #8ecae6;
    text-decoration: underline;
}

a:active{
    color: #023047;
    text-decoration: underline;
}

h2{
    color: #560bad;
}