table{
    width: 100%;
}

caption{
    color: #e63946;
    font-family: 'Trocchi, serif';
    font-size: 45px;
    line-height: 70px;
}

th{
    color: #f1faee;
    background-color: #1d3557;
}

tr:nth-child(even){/*even es para es para seleccionar los renglones pares y odd para los renglones impares*/
    background-color: #f1faee;
}

tr:nth-child(odd){
    background-color: #a8dadc;
}
table, th, td{
    border: 1px solid black;
    border-collapse:collapse;
    /*border-spacing: 5px;*/
    padding: 5px;
}
